POSTGRES_DB=fastapi_2             
POSTGRES_USER=postgres          
POSTGRES_PASSWORD=your_password  

DB_NAME=fastapi_2                 
DB_USER=postgres
DB_PASSWORD=your_password     
DB_HOST=db                      
DB_PORT=5432
